DATABASE_URL=postgresql://postgres.aqcbrgtajmuwkjbkgrsu:transitopsparnika@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres
JWT_SECRET=6049ffd14a9aab322f7572bdf032147fb67832629308e752dc0e483ffd965ad4
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
GMAIL_ADDRESS=parnikadesk@gmail.com
GMAIL_APP_PASSWORD=ramc vlon mbmu scoo
LICENSE_EXPIRY_THRESHOLD_DAYS=30
SUPABASE_URL=your_supabase_url
SUPABASE_ANON_KEY=your_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key